<h1>Pirates</h1>

  <h2>Name: <%= @pirate.name %></h2>
  <h2>Weight: <%= @pirate.weight %> pounds</h2>
  <h2>Height: <%= @pirate.height %> inches</h2>

<h1>Ships</h1>

<% Ship.all.each do |ship| %>
    <h2>Name: <%= ship.name %></h2>
    <h2>Type: <%= ship.type %></h2>
    <h2>Booty: <%= ship.booty %></h2>
    <% end %>

